CustomerOrders.accdb.src/tbldefs/tCustomers.xml

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:od="urn:schemas-microsoft-com:officedata">
  <xsd:element name="dataroot">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="tCustomers" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="generated" type="xsd:dateTime"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="tCustomers">
    <xsd:annotation>
      <xsd:appinfo>
        <od:index index-name="PrimaryKey" index-key="ID " primary="yes"
                  unique="yes" clustered="no" order="asc"/>
        <od:tableProperty name="Orientation" type="2" value="0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ID" minOccurs="1" od:jetType="autonumber"
                     od:sqlSType="int" od:autoUnique="yes" od:nonNullable="yes"
                     type="xsd:int"/>
        <xsd:element name="FirstName" minOccurs="0" od:jetType="text"
                     od:sqlSType="nvarchar" type="xsd:string"/>
        <xsd:element name="LastName" minOccurs="0" od:jetType="text"
                     od:sqlSType="nvarchar" type="xsd:string"/>
        <xsd:element name="Address" minOccurs="0" od:jetType="memo"
                     od:sqlSType="ntext" type="xsd:string"/>
        <xsd:element name="City" minOccurs="0" od:jetType="text"
                     od:sqlSType="nvarchar" type="xsd:string"/>
        <xsd:element name="State" minOccurs="0" od:jetType="text"
                     od:sqlSType="nvarchar" type="xsd:string"/>
        <xsd:element name="PostCode" minOccurs="0" od:jetType="text"
                     od:sqlSType="nvarchar" type="xsd:string"/>
        <xsd:element name="Phone" minOccurs="0" od:jetType="text"
                     od:sqlSType="nvarchar" type="xsd:string"/>
        <xsd:element name="Email" minOccurs="0" od:jetType="text"
                     od:sqlSType="nvarchar" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
