CustomerOrders.accdb.src/tbldefs/tOrderItems.xml

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:od="urn:schemas-microsoft-com:officedata">
  <xsd:element name="dataroot">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="tOrderItems" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="generated" type="xsd:dateTime"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="tOrderItems">
    <xsd:annotation>
      <xsd:appinfo>
        <od:index index-name="PrimaryKey" index-key="ID " primary="yes"
                  unique="yes" clustered="no" order="asc"/>
        <od:index index-name="OrderID" index-key="OrderID " primary="no"
                  unique="no" clustered="no" order="asc"/>
        <od:tableProperty name="Orientation" type="2" value="0"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ID" minOccurs="1" od:jetType="autonumber"
                     od:sqlSType="int" od:autoUnique="yes" od:nonNullable="yes"
                     type="xsd:int"/>
        <xsd:element name="OrderID" minOccurs="0" od:jetType="longinteger"
                     od:sqlSType="int" type="xsd:int"/>
        <xsd:element name="ItemDescription" minOccurs="0" od:jetType="text"
                     od:sqlSType="nvarchar" type="xsd:string"/>
        <xsd:element name="UnitPriceNet" minOccurs="0" od:jetType="currency"
                     od:sqlSType="money" type="xsd:string"/>
        <xsd:element name="Quantity" minOccurs="0" od:jetType="longinteger"
                     od:sqlSType="int" type="xsd:int"/>
        <xsd:element name="SubTotalNet" minOccurs="0" od:jetType="currency"
                     od:sqlSType="money" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
