tbldefs/T_ProfilKeping.xml

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:od="urn:schemas-microsoft-com:officedata">
  <xsd:element name="dataroot">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="T_ProfilKeping" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="generated" type="xsd:dateTime"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="T_ProfilKeping">
    <xsd:annotation>
      <xsd:appinfo>
        <od:index index-name="BlankoKepingAutoID" index-key="BlankoKepingAutoID " primary="no" unique="no" clustered="no" order="asc"/>
        <od:index index-name="KepingAutoID" index-key="KepingAutoID " primary="no" unique="no" clustered="no" order="asc"/>
        <od:index index-name="PiecesID" index-key="KepingID " primary="no" unique="no" clustered="no" order="asc"/>
        <od:index index-name="PolaLubang ID" index-key="PolaLubangID_deprecated " primary="no" unique="no" clustered="no" order="asc"/>
        <od:index index-name="PolaLubangID" index-key="PolaLubangID_deprecated2 " primary="no" unique="no" clustered="no" order="asc"/>
        <od:index index-name="PolaLubangID1" index-key="PolaLubangID " primary="no" unique="no" clustered="no" order="asc"/>
        <od:index index-name="PrimaryKey" index-key="KepingID " primary="yes" unique="yes" clustered="no" order="asc"/>
        <od:index index-name="RivetID" index-key="RivetID " primary="no" unique="no" clustered="no" order="asc"/>
        <od:index index-name="T_BlankoKepingT_ProfilKeping" index-key="BlankoKepingAutoID " primary="no" unique="no" clustered="no" order="asc"/>
        <od:index index-name="T_DataKepingUkuranRivetID" index-key="UkuranRivetID_deprecated " primary="no" unique="no" clustered="no" order="asc"/>
        <od:index index-name="T_UkuranLubangT_ProfilKeping" index-key="UkuranLubangID " primary="no" unique="no" clustered="no" order="asc"/>
        <od:index index-name="T_UkuranPolaLubangT_ProfilKeping" index-key="PolaLubangID " primary="no" unique="no" clustered="no" order="asc"/>
        <od:index index-name="T_UkuranRivetT_ProfilKeping" index-key="RivetID " primary="no" unique="no" clustered="no" order="asc"/>
        <od:tableProperty name="Orientation" type="2" value="0"/>
        <od:tableProperty name="OrderByOn" type="1" value="0"/>
        <od:tableProperty name="DefaultView" type="2" value="2"/>
        <od:tableProperty name="DisplayViewsOnSharePointSite" type="2" value="1"/>
        <od:tableProperty name="TotalsRow" type="1" value="0"/>
        <od:tableProperty name="FilterOnLoad" type="1" value="0"/>
        <od:tableProperty name="OrderByOnLoad" type="1" value="1"/>
        <od:tableProperty name="HideNewField" type="1" value="0"/>
        <od:tableProperty name="BackTint" type="6" value="100"/>
        <od:tableProperty name="BackShade" type="6" value="100"/>
        <od:tableProperty name="ThemeFontIndex" type="4" value="-1"/>
        <od:tableProperty name="AlternateBackThemeColorIndex" type="4" value="-1"/>
        <od:tableProperty name="AlternateBackTint" type="6" value="100"/>
        <od:tableProperty name="AlternateBackShade" type="6" value="100"/>
        <od:tableProperty name="ReadOnlyWhenDisconnected" type="1" value="0"/>
        <od:tableProperty name="DatasheetGridlinesThemeColorIndex" type="4" value="-1"/>
        <od:tableProperty name="DatasheetForeThemeColorIndex" type="4" value="-1"/>
        <od:tableProperty name="Filter" type="12" value="([T_ProfilKeping].[KepingAutoID]=44)"/>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="KepingAutoID" minOccurs="1" od:jetType="autonumber" od:sqlSType="int" od:autoUnique="yes" od:nonNullable="yes" type="xsd:int">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="2170"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="1"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="KepingID" minOccurs="1" od:jetType="text" od:sqlSType="nvarchar" od:nonNullable="yes">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="1"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="BlankoKepingAutoID" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="2360"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
              <od:fieldProperty name="DefaultValue" type="12" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="DeskripsiProfilKeping" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="4300"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="PolaLubangID" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
              <od:fieldProperty name="DefaultValue" type="12" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="UkuranLubangID" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
              <od:fieldProperty name="DefaultValue" type="12" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="RivetID" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
              <od:fieldProperty name="DefaultValue" type="12" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="Indikator-Lis" minOccurs="1" od:jetType="yesno" od:sqlSType="bit" od:nonNullable="yes" type="xsd:boolean">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Format" type="10" value="Yes/No"/>
              <od:fieldProperty name="DefaultValue" type="12" value="No"/>
              <od:fieldProperty name="DisplayControl" type="3" value="106"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
              <od:fieldProperty name="Description" type="10" value="wear indikator untuk lis"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="Coak" minOccurs="1" od:jetType="yesno" od:sqlSType="bit" od:nonNullable="yes" type="xsd:boolean">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Format" type="10" value="Yes/No"/>
              <od:fieldProperty name="DefaultValue" type="12" value="No"/>
              <od:fieldProperty name="DisplayControl" type="3" value="106"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
              <od:fieldProperty name="Description" type="10" value="Pencos (setengah lingkaran untuk wear indikator)"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="Koak" minOccurs="1" od:jetType="yesno" od:sqlSType="bit" od:nonNullable="yes" type="xsd:boolean">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Description" type="10" value="koak seperti k-492/k-492 koak"/>
              <od:fieldProperty name="Format" type="10" value="Yes/No"/>
              <od:fieldProperty name="DefaultValue" type="12" value="No"/>
              <od:fieldProperty name="DisplayControl" type="3" value="106"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="Catatan" minOccurs="0" od:jetType="memo" od:sqlSType="ntext">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextFormat" type="2" value="0"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AppendOnly" type="1" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="536870910"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="ImageCode" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="1920"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="NoteGambar" minOccurs="0" od:jetType="memo" od:sqlSType="ntext">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextFormat" type="2" value="0"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AppendOnly" type="1" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="536870910"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="LubangFlag" minOccurs="1" od:jetType="yesno" od:sqlSType="bit" od:nonNullable="yes" type="xsd:boolean">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Format" type="10" value="Yes/No"/>
              <od:fieldProperty name="DefaultValue" type="12" value="No"/>
              <od:fieldProperty name="DisplayControl" type="3" value="106"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
              <od:fieldProperty name="Description" type="10" value="'gunakan rivetID apabila tanpa lubang"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="TebalTipisFlag" minOccurs="1" od:jetType="yesno" od:sqlSType="bit" od:nonNullable="yes" type="xsd:boolean">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Description" type="10" value="Apabila Kepingan ini ada Tebal Tipis"/>
              <od:fieldProperty name="Format" type="10" value="Yes/No"/>
              <od:fieldProperty name="DefaultValue" type="12" value="No"/>
              <od:fieldProperty name="DisplayControl" type="3" value="106"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="DiameterDrum_deprecated" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Description" type="10" value="(mm)"/>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
              <od:fieldProperty name="DefaultValue" type="12" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="PolaLubangID_deprecated2" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="DisplayControl" type="3" value="111"/>
              <od:fieldProperty name="RowSourceType" type="10" value="Table/Query"/>
              <od:fieldProperty name="RowSource" type="12" value="SELECT [T_UkuranPolaLubang].[PolaLubangID], [T_UkuranPolaLubang].[PolaLubang], T_UkuranPolaLubang.[DetailPolaLubang] FROM T_UkuranPolaLubang ORDER BY [PolaLubang], [PolaLubangID], [DetailPolaLubang]; "/>
              <od:fieldProperty name="BoundColumn" type="3" value="1"/>
              <od:fieldProperty name="ColumnCount" type="3" value="3"/>
              <od:fieldProperty name="ColumnHeads" type="1" value="0"/>
              <od:fieldProperty name="ColumnWidths" type="10" value="0;1440;1440"/>
              <od:fieldProperty name="ListRows" type="3" value="16"/>
              <od:fieldProperty name="ListWidth" type="10" value="2880twip"/>
              <od:fieldProperty name="LimitToList" type="1" value="1"/>
              <od:fieldProperty name="AllowMultipleValues" type="1" value="0"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AllowValueListEdits" type="1" value="1"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="PolaLubangID_deprecated" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="DisplayControl" type="3" value="111"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
              <od:fieldProperty name="RowSourceType" type="10" value="Table/Query"/>
              <od:fieldProperty name="RowSource" type="12" value="SELECT [T_UkuranPolaLubang].PolaLubangID, [T_UkuranPolaLubang].PolaLubang, T_UkuranPolaLubang.[DetailPolaLubang] FROM T_UkuranPolaLubang ORDER BY [T_UkuranPolaLubang].PolaLubang; "/>
              <od:fieldProperty name="BoundColumn" type="3" value="1"/>
              <od:fieldProperty name="ColumnCount" type="3" value="3"/>
              <od:fieldProperty name="ColumnHeads" type="1" value="0"/>
              <od:fieldProperty name="ColumnWidths" type="10" value="0;650;1900"/>
              <od:fieldProperty name="ListRows" type="3" value="16"/>
              <od:fieldProperty name="ListWidth" type="10" value="2550twip"/>
              <od:fieldProperty name="LimitToList" type="1" value="1"/>
              <od:fieldProperty name="AllowMultipleValues" type="1" value="0"/>
              <od:fieldProperty name="AllowValueListEdits" type="1" value="0"/>
              <od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="JumlahLubang_deprecated" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
              <od:fieldProperty name="DefaultValue" type="12" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
              <od:fieldProperty name="Description" type="10" value="Pindah ke dalam tabel PolaLubang"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="UkuranRivetID_deprecated" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="Tebal_x002F_Tipis_deprecated" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="1960"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Description" type="10" value="(mm)"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="JenisRivet_deprecated" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="1740"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="UkuranRivet_deprecated" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="UkuranLubang_deprecated" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
              <od:fieldProperty name="DefaultValue" type="12" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="Lebar_deprecated" minOccurs="0" od:jetType="decimal" od:sqlSType="decimal">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Description" type="10" value="(mm)"/>
              <od:fieldProperty name="DecimalPlaces" type="2" value="1"/>
              <od:fieldProperty name="DefaultValue" type="12" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:decimal">
              <xsd:totalDigits value="18"/>
              <xsd:fractionDigits value="0"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="Panjang_deprecated" minOccurs="0" od:jetType="decimal" od:sqlSType="decimal">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Description" type="10" value="(mm)"/>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
              <od:fieldProperty name="DefaultValue" type="12" value="0"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:decimal">
              <xsd:totalDigits value="18"/>
              <xsd:fractionDigits value="0"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="Tebal_deprecated" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"/>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"/>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"/>
              <od:fieldProperty name="Description" type="10" value="(mm)"/>
              <od:fieldProperty name="Required" type="1" value="0"/>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"/>
              <od:fieldProperty name="DisplayControl" type="3" value="109"/>
              <od:fieldProperty name="IMEMode" type="2" value="0"/>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"/>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"/>
              <od:fieldProperty name="TextAlign" type="2" value="0"/>
              <od:fieldProperty name="AggregateType" type="4" value="-1"/>
              <od:fieldProperty name="ResultType" type="2" value="0"/>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"/>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
